$topnav-background-color: #a19fde;
.header {
  background-color: $topnav-background-color;
  height: 80px;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 0px;
  width: 100%;
  vertical-align: middle;

  .logo{
   display: inline-block;
   font-size: large;
   text-align: left;
   height: 40px;
   padding-left: 10px;
   padding-top: 10px;
   color: #ffffff;
   width: 49%;
   }
   
  .logout{
     display:inline-block;
     height: 40px;
     color:#ffffff;
     text-align: right;
     font-size: small;
     padding-right: 10px;
     padding-top: 10px;
     width: 49%;
     span {
       padding-left: 10px;
       cursor:pointer;
       color:#000000}     
    }
}
