
<div class="container">

 <div class="title">IPO Details</div> 
 <div  class="loginfor">
                <!--  -->
   <form class="example-form">
        <mat-form-field class="example-full-width">
                <input disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.companyname" name="companyname" matInput placeholder="Company Name"
                 [errorStateMatcher]="matcher" value="">              
        </mat-form-field>
        <br>                  
        <mat-form-field class="example-full-width">
            <mat-select disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.stockchange" name="stockchange" placeholder="stock exchange">
                <mat-option *ngFor="let entry of stockexchanges" [value]="entry.value">
                  {{entry.displayName}}
                </mat-option>
            </mat-select>          
        </mat-form-field>
        <br>                  
        <mat-form-field class="example-full-width">
          <input disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.price"  name="price"  matInput placeholder="Price Per Share">
        </mat-form-field>
        <br>                  
        <mat-form-field class="example-full-width">
          <input disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.numberofshare"  name="numberofshare"   matInput placeholder="Number Of Shares">
        </mat-form-field>
        <br>    
        
        <mat-form-field class="example-full-width">

            <input name="opendatetime"  disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.opendatetime" matInput [matDatepicker]="picker" placeholder="open date time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>         
        </mat-form-field>
          <br> 
                  
        <mat-form-field class="example-full-width">
          <textarea disabled="{{userRole=='admin'?false:true}}" [(ngModel)]="ipoEntry.remarks"  name="remarks" matInput placeholder="remarks"></textarea>
        </mat-form-field>
        <br>                  
   </form>
 </div>      
 <div  class="buttonline"><button disabled="{{userRole=='admin'?false:true}}" (click)="Save()" mat-flat-button color="primary">Save</button> <button  (click)="exit()"  mat-stroked-button>Exit</button></div> 

</div>
