
<div class="container">

    <div class="title">Stock Market System Profile Update</div> 
    <div  class="loginfor">
                   <!--  -->
      <form class="example-form">                
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="passCode"  name="password" type="password"  matInput placeholder="password" [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher" value="">
            </mat-form-field>
            <br>    
           
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="newPassCode"  name="newPassword" type="password"  matInput placeholder="New Password" [formControl]="newPasswordFormControl"
                [errorStateMatcher]="matcher" value="">
            </mat-form-field>
            <br> 

           <mat-form-field class="example-full-width">
             <input [(ngModel)]="confirmpassCode"  name="confirmpassword" type="password"  matInput placeholder="confirmpassword" 
             [formControl]="confirmPasswordFormControl"
             [errorStateMatcher]="matcher" value="">
           </mat-form-field>
           <br>                  
           <!--<mat-form-field class="example-full-width">
             <input [(ngModel)]="email"  name="email" matInput placeholder="email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher" value="">
           </mat-form-field>
   
           <mat-form-field class="example-full-width">
             <input [(ngModel)]="mobileNumber"  name="mobileNumber" matInput placeholder="mobile" [formControl]="mobileFormControl"
             [errorStateMatcher]="matcher" value="">
           </mat-form-field>-->
      </form>
    </div>      
    <div  class="buttonline">
        <button (click)="submit()" mat-flat-button color="primary">Update</button>
        <button  (click)="cancel()"  mat-stroked-button>Reset</button></div> 
    <div>{{updateMessage}}</div>
   </div>
   