
               <mat-tab-group>
                <mat-tab  *ngIf="userService.getuserRole()=='admin'" label="Import Data"><app-import></app-import> </mat-tab>
                <mat-tab *ngIf="userService.getuserRole()=='admin'" label="Manage Company"> 
                  <company-lib></company-lib>
                </mat-tab>
                <mat-tab label="IPO Details"><ipo-lib></ipo-lib></mat-tab>
                <mat-tab label="Company Detail"> 
                 <company-lib></company-lib>
                </mat-tab>
                <mat-tab label="Company Comparison">Service is in developing... please wait.</mat-tab>
                <mat-tab label="Update profile">Service is in developing... please wait.</mat-tab>
              </mat-tab-group>
             