

<div *ngIf="showEditor==false"> 
    <div *ngIf="userRole=='admin'" class="newcreate"> <button (click)="create()" mat-flat-button color="primary">Create New</button> </div>
<table mat-table #ipoTable [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="companyname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
                </ng-container>
              
                <ng-container matColumnDef="stockchange">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Exchange </th>
                  <td mat-cell *matCellDef="let element"> {{element.stockchange}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
                </ng-container>
              
                <ng-container matColumnDef="numberofshare">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Share</th>
                  <td mat-cell *matCellDef="let element"> {{element.numberofshare}} </td>
                </ng-container>

                <ng-container matColumnDef="opendatetime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Date</th>
                  <td mat-cell *matCellDef="let element">{{element.opendatetime}}</td>
                </ng-container>

                <ng-container matColumnDef="remarks">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                  <td mat-cell *matCellDef="let element">{{element.remarks}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
                    <td mat-cell *matCellDef="let element">  
                      <button (click)="open(element)" mat-flat-button color="primary">Edit</button> 
                      <button class="remove" (click)="remove(element)" mat-flat-button color="secondary">Remove</button> 
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>
</div>

<ipo-edit [userRole]="userRole" [(ipoData)]="selectedEntry" (goback)="showlib($event)" *ngIf="showEditor==true"></ipo-edit>




              
